/* text parameters */
  h2 {
  text-align: center;
  margin: auto 5%;
  }
  
  h4 {
  text-align: left;
  margin: 10px 5%;
  }
  
  h5 {
  text-align: left;
  margin: 5px 5%;
  }

  tags {
  text-align: left;
  margin: auto 5%;
  }
  
  a {
  text-align: left;
  margin: auto 5%;
  color: #2096A8;
  }
  
  a:hover {
  background-color: #2096A8;
  color: white;
  font-style: normal;
  text-decoration: none;
}

 
 /* center image */
 img{
 display: block;
 margin: 0px auto;
}
 
